*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 240, 240);
   
}
.Login{
    background-image: linear-gradient(to left, #f2e3d56c, #bf79609d);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 700px;
    border-radius: 8px;
}

.Login .logo{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo img{
    margin: 20px auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.Login .conteudo{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Login .conteudo h2{
    padding: 8px;
    font-size: 0.7em;
    text-transform: none;
    color: rgb(80, 80, 80);
}
.Login a{
    display: inline-block;
    font-size: 0.8em;
    color: #505050;
    text-decoration: none;
}
.Login a:hover{
    font-size: 0.82em;
    color: rgb(100, 100, 244);
}
.Login #Esquecer a{
    font-size: 2em;
}
.userType{
    padding: 5px;
    padding-bottom: 12p;
    margin-bottom: 6%;
}

.userType input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.userType input[type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
}

.userType label{
    font-size: 0.8em;
}
.userType label:hover{
    font-size: 0.82em;
}

.conteudo .email input , .senha input{
    display: inline-block;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}
.conteudo .email label{
    margin-right: 0.4em;
}


.conteudo input[type="submit"] {
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* borda zero */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* alinhamento do texto */
    text-decoration: none; /* remoção do sublinhado */
    display: inline-block; /* exibição em linha */
    font-size: 16px; /* tamanho da fonte */
    margin: 10px; /* margem externa */
    cursor: pointer; /* cursor de mão */
    border-radius: 5px; /* borda arredondada */
    transition: background-color 0.3s ease; /* transição suave */
  }
  
.conteudo input[type="submit"]:hover {
    background-color: #3e8e41; /* cor de fundo ao passar o mouse */
  }

footer{
    background-image: linear-gradient(to left, #f2e3d56c, #bf79609d);
    flex-basis: 20%;
    clear: both;
    text-align: center;
}

@media (min-width: 700px) {
    .Login{
        width: 700px;
    }
    .Login .logo{
        flex-basis: 40%;
    }
    .Login .conteudo{
        flex-basis: 60%;
    }
    .conteudo .email input , .senha input{
        width: 200px;
        margin-bottom: 10px;
    }

}